@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
}

.entire-page {
    display: flex;
    justify-content: center;
}

.form-section {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.background-image {
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
}

.background-image > img {
    height: 100vh;
}

.overlay-banner {
    font-family: Norse-Bold, sans-serif;
    background-color: rgba(0, 0, 0, 0.616);
    position: absolute;
    bottom: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-banner > img {
    height: 25ch;
}

.overlay-banner > h1 {
    font-size: 15ch;
    color: white;
}

.form-area {
    height: 15rem;
    background-color: white;
}

#user_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.word-area {
    justify-content: end;
}

p.words {
    padding-right: 25%;
    font-family: sans-serif;
    font-weight: 600;
    font-size: larger;
}

.extra {
    padding-bottom: 2rem;
}

.word-area, .button-area {
    background-color: rgb(233, 233, 233);
    height: 33vh;
}
.word-area, .button-area, .form-area {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
}

.label {
    margin: 0;
}

.top-row, .mid-row, .bottom-row {
    display: flex;
}

.column {
    margin-right: 3rem;
}

div.column > input {
    height: 1.5rem;
    width: 15rem;
    border-radius: 5px;
    border-style: solid;
    border-color: #d5d5d5;
    border-width: 1px;
}

div.column > input:focus {
    box-shadow: 4px 4px 4px 0 rgb(143 143 143 / 20%), 3px 3px 4px 0 rgb(97 97 97 / 19%);
    border-style: solid;
    outline: 1px rgb(25, 25, 255) solid;
}


.retypePassword {
    margin: 0;
    font-size: small;
    color: red;
    font-family: sans-serif;
}

label {
    font-family: sans-serif;
    font-size: smaller;
}

.button-area {
    flex-grow: 1;
}

input[type="submit"] {
    height: 45px;
    width: 250px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}